.nav {
	padding: 15px;
	margin-bottom: 10px;
}
.nav btn-group {
	margin: 0px;
}

.slide.ng-enter, .slide.ng-leave {
    transition: 500ms ease-in all;
    position: relative;
    display: block;
}

.slide.ng-enter { }        /* starting animations for enter */
.slide.ng-enter.ng-enter-active { } /* terminal animations for enter */
.slide.ng-leave { }        /* starting animations for leave */
.slide.ng-leave.ng-leave-active { } /* terminal animations for leave */

.animate-enter, .animate-leave {
transition: 500ms ease-in all;
position: relative;
display: block;
} 
.animate-enter.animate-enter-active, .animate-leave {
left: 0;
}
.animate-leave.animate-leave-active, .animate-enter {
left: 500px;
}