<div>
    <fieldset>
        <legend>Edit Product {{productEdited.id}}</legend>
        <label for="productName">Name:</label><br>
        <input type="text" id="productName" ng-model="editProductName" /><br><br>

        <label for="productDescription">Description:</label><br>
        <input type="text" id="productDescription" ng-model="editProductDescription" /><br><br>
        
        <label for="brands">Brand:</label><br>
        <select id="brands" ng-options="brand.name for brand in brands" ng-model="selectedBrand"></select>
    
        <button ng-click="updateProduct()">Save</button>
    </fieldset>

    <span>{{serverMessage}}</span>
    <!--SERVER MESSAGES-->
    <div id="successMessage" class="alert alert-success" role="alert" style="display:none;">{{successMessage}}</div>
    <div id="errorMessage" class="alert alert-danger" role="alert" style="display:none;">{{errorMessage}}</div>
    <!--SERVER MESSAGES-->
    <hr>
</div>